.default {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     background-image: url('https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
     background-size:contain;
     background-repeat: no-repeat;
     background-position: center;
     padding: 20px;
     margin: 0;
 } 
 .div1 {
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 #div1text {
     font-weight: 900;
 }
 #button {
     background-color: chartreuse;
     border-radius: 2px;
     border-width: 2px;
     color: rgb(4, 37, 37);
 }
 #button:hover {
     color:blanchedalmond;
     transition-duration: 1s;
     width: 100px;
     cursor:grab;
 }
 #tiger {
     width: 30%;
     border: 3px solid #ca5050;
     border-radius: 15px;
     box-shadow: 2px 2px 5px #888;
 }