body{
  background-color: rgb(241, 206, 162);
  background-size: cover;
  left:0;
  top:0;
  /* height:120%; */
  /* min-height: 100vh; */
  /* margin-top: 0; */
  /* display:flex; */
  /* justify-content: baseline; */
  z-index: -1;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

.container {
  width: 100%;
  height: 100vh;
  scroll-snap-type: y mandatory;
}

@font-face {
  font-family: angelastation;
  src: url(AngelaStationDemoRegular.ttf);
}

.page1 {
  background-image: url('websitePicture.jpg');
  background-size: cover;
  width:100%;
  height: 100vh;
  display:flex;
  /* align-items: center; */
  justify-content: baseline;
  /* gap: 50px; */
  color: rgb(207, 119, 31);
  scroll-snap-align: start;
  padding:0;
  margin:0;
  overflow-y: scroll;
}

#title {
  position: absolute;
  left: 50%;
  top: 140px;
  transform: translate(-50%, -50%);
  /*forcibly centers content (absolute) */
  color: rgb(241, 206, 162);
  font-size: 128px;
  padding: 15px;
  font-family: angelastation;
  background-image: linear-gradient(to top, rgba(145, 201, 14, 0), rgb(117, 81, 122));
  box-shadow: 0 0 8px 8px rgb(86, 187, 128);
  border-radius: 50px;
  /* filter: blur(1px); */
}

#linkedin {
  background-color: aliceblue;
  object-fit: cover;
  position: absolute;
  left: 36%;
  top: 193px;
  width: 30px;
  height: auto;
  border-style:ridge  ;
  border-color:black;
  border-radius: 5px;
  transition: opacity 0.15s, background-color 0.3s, box-shadow 0.15s;
}

#linkedin:hover{
  opacity:0.7;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

#linkedin:active{
  opacity: 0.5;
  background-color: rgb(0, 0, 0);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

#github {
  background-color: aliceblue;
  position: absolute;
  left: 39%;
  top: 193px;
  width: auto;
  height: 30px;
  border-style:ridge;
  border-color: black;
  border-radius: 5px;
  transition: opacity 0.15s, background-color 0.3s, box-shadow 0.15s;
}

#github:hover {
  opacity:0.7;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

#github:active{
  opacity: 0.5;
  background-color: rgb(242, 255, 0);
}

#githubspearknight {
  height:30px;
  width: auto;
  position: relative;
  top:15px;
  left:420px;
  background-color:rgb(220, 238, 197);
  border-style: dashed;
  border-width: 2px;
  border-color: rgb(211, 12, 12);
  border-radius:5px;
  transition: opacity 0.15s, background-color 0.3s, box-shadow 0.15s;
}

#githubwebsite {
  height:30px;
  width: auto;
  position: relative;
  top:14px;
  left:447px;
  background-color: rgb(245, 165, 214);
  border-style:dashed;
  border-width: 2px;
  border-color:rgb(6, 117, 80);
  border-radius:5px;
  transition: opacity 0.15s, background-color 0.3s, box-shadow 0.15s;
}

#githubspearknight:hover, #githubwebsite:hover{
  opacity:0.7;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

#githubspearknight:active {
  opacity:0.5;
  background-color: rgb(235, 145, 27);
}

#githubwebsite:active {
  opacity:0.5;
  background-color: rgb(73, 255, 231);
}

.collections {
  position: absolute;
  left:0;
  left:47%;
  transform: translate(-50%, -50%);
  top: -1%;
  width: 100%;
  /* overflow-y: hidden; */
  z-index:1;
}

.coding {
  position: absolute;
  top: 290px;
  left: 61%;
  width: 100%;
}

#codinghead {
  background-image: url('codingbg.png');
  padding: 7px;
  font-weight:bold;
  font-size: 95px;
  color: rgb(124, 124, 151);
  font-family: 'Courier New', Courier, monospace;
  box-shadow: 0 0px 8px 8px rgba(255, 243, 218, 0.737);
  border-radius: 25px;
}

#spearknight {
  position: absolute;
  top: 162px;
  left: 40px;
  font-size: 25px;
  background-color: rgb(200, 181, 215);
  border-style: groove;
  border-color: rgb(235, 92, 235);
  border-width: 3px;
  border-radius: 10px;
  padding: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  transition: opacity 0.15s, color 0.5s, background-color 0.5s, box-shadow 0.15s;
}

#spearknight:hover, #personalwebsite:hover{
  opacity:0.85 ;
  color:rgb(0, 0, 0);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

#spearknight:active{
  background-color: rgb(229, 155, 155);
  opacity:0.7;
  color:rgb(0, 0, 0)
}

#personalwebsite {
  position: absolute;
  top: 212px;
  left: 40px;
  font-size: 25px;
  background-color: rgb(237, 227, 245);
  border-style: groove;
  border-color: rgb(235, 92, 235);
  border-width: 3px;
  border-radius: 10px;
  padding: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  transition: opacity 0.15s, color 0.5s, background-color 0.5s, box-shadow 0.15s;
}

#personalwebsite:active{
  background-color: rgb(218, 169, 122);
  opacity:0.7;
  color:rgb(0, 0, 0)
}

.solidworksdesigns {
  position: absolute;
  width:100%;
  top: 300px;
  left:15%;
}

#solidworksImg {
  background-image: url('solidworksbg.png');
  padding: 10px;
  border-radius: 25px;
  width: 500px;
  height: auto;
  box-shadow: 0 0 8px 8px rgb(215, 240, 225);
}

#chair {
  background-color: rgb(159, 203, 232);
  position: absolute;
  top: 150px;
  left: 40px;
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-style: groove;
  border-color: rgb(222, 74, 96);
  border-width: 3px;
  border-radius: 10px;
  cursor:pointer;
  transition: opacity 0.15s, background-color 0.5s, box-shadow 0.15s;
}

#chair:hover, #trampoline:hover, #cup:hover, #capacitor:hover, #A380:hover{
  opacity:0.85 ;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

#chair:active, #trampoline:active, #cup:active, #capacitor:active, #A380:active{
  background-color: rgb(210, 224, 145);
  opacity:0.7 ;
}

#trampoline {
  background-color: rgb(137, 238, 164);
  position: absolute;
  top: 200px;
  left: 40px;
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-style: groove;
  border-color: rgb(222, 74, 96);
  border-width: 3px;
  border-radius: 10px;
  cursor:pointer;
  transition: opacity 0.15s, background-color 0.5s, box-shadow 0.15s;

}

#cup {
  background-color: rgb(220, 195, 133);
  position: absolute;
  top: 250px;
  left: 40px;
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-style: groove;
  border-color: rgb(222, 74, 96);
  border-width: 3px;
  border-radius: 10px;
  cursor:pointer;
  transition: opacity 0.15s, background-color 0.5s, box-shadow 0.15s;
}

#capacitor {
  background-color: rgb(240, 179, 212);
  position: absolute;
  top: 300px;
  left: 40px;
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-style: groove;
  border-color: rgb(222, 74, 96);
  border-width: 3px;
  border-radius: 10px;
  cursor:pointer;
  transition: opacity 0.15s, background-color 0.5s, box-shadow 0.15s;

}

#A380 {
  background-color: rgb(227, 237, 137);
  position: absolute;
  top: 350px;
  left: 40px;
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-style: groove;
  border-color: rgb(222, 74, 96);
  border-width: 3px;
  border-radius: 10px;
  cursor:pointer;
  transition: opacity 0.15s, background-color 0.5s, box-shadow 0.15s;
}

.page2{
  z-index:1;
  background-image: url('rockuphill.png');
  background-size: cover;
  width:100%;
  height:100vh;
  display:flex;
  justify-content: baseline;
  scroll-snap-align: start;
  padding:0;
  margin:0;
  overflow-y: scroll;
  z-index:1;
}

#title2 {
  position:absolute;
  left:0;
  left:50%;
  font-family: angelastation;
  font-size: 80px;
  text-align: center;
  transform: translate(-50%, -50%);
  text-decoration: underline;
  margin-top: 65px;
  background-color: rgb(189, 255, 255);
  background-image: linear-gradient(to top, rgba(145, 201, 14, 0), rgb(99, 133, 173));
  box-shadow: 0 0 8px 8px rgb(226, 202, 165);
  border-radius: 25px;
  padding: 10px;
}

#subtitle2 {
  position: relative;
  color: rgb(20, 105, 28);
  background-color: aquamarine;
  top:140px;
  left:30px;
  font-size: 40px;
  text-align: center;
  margin-top:20px;
  margin-bottom: 30px;
  padding:6px;
  box-shadow: 0 0 8px 8px rgb(85, 66, 121);
  border-radius:25px;
}

#text2 {
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  position:absolute;
  left:50%;
  transform: translate(-50%, -50%);
  top:0;
  top:150%;
  width:1200px;
  height:29%;
  padding:6px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-y: scroll;
  color: rgb(0, 0, 0);
  line-height: 35px;
  font-size: 30px;
  color: azure;
  background-color: brown;
  background-image: linear-gradient(to top, rgba(145, 201, 14, 0), rgb(238, 200, 135));
  box-shadow: 0 0 8px 8px rgb(58, 116, 25);
  border-radius:25px;
}



