body{
    background-color:beige;
    background-size: contain;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    overflow-y: scroll;
}

.bg {
    z-index: -1;
}

#back {
    position:absolute;
    top:5px;
    left:10px;
    width:80px;
    transition: opacity 0.15s;
}

#back:hover{
    opacity:0.7
}

#back:active{
    opacity:0.5;
}

.chair{
    text-align: center;
    z-index: 1;
}

#chairtitle {
    font-weight: bolder;
    font-family: serif;
    font-size: 50px;
    text-decoration: underline;
    /* text-indent: 20px; */
    margin-bottom: 25px;
}

#date {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 75px;
}

#text {
    position:relative;
    left:0;
    left:50%;
    transform: translate(-50%, -50%);
    top: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 600px;
    line-height: 25px;;
}

#chairiframe {
    position: absolute;
    top:620px;
    transform: translate(-50%, -50%);
    border-color: blue;
    border-width: 4px;
    height:500px;
    width:1000px;
}

#dummy {
    position: absolute;
    top:900px;
}