body{
    background-color: rgb(210, 228, 244);
    background-size: cover;
    left:0;
    top:0;
    height:120%;
    /* min-height: 100vh; */
    /* margin-top: 0; */
    /* display:flex; */
    justify-content: baseline;
    overflow-y: scroll;
    z-index: -1;
}

#back {
    position:absolute;
    top:5px;
    left:10px;
    width:80px;
    transition: opacity 0.15s;
}

#back:hover{
    opacity:0.7
}

#back:active{
    opacity:0.5;
}

.container{
    z-index: 1;
}

#title{
    position: absolute;
    text-align: center;
    left:50%;
    transform: translate(-50%,-50%);
    /* width:100%; */

    font-size: 60px;
    top:50px;
    text-decoration: underline;
    color: rgb(105, 105, 201);
}

#link{
    position: absolute;
    align-items: center;
    text-align: center;
    left:50%;
    transform: translate(-50%,-50%);
    top:100px;
}

#text{
    position: absolute;
    text-align: center;
    left:50%;
    transform: translate(-50%,-50%);
    top:380px;
    width:800px;
    z-index: 1;
    line-height: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#vid {
    height:600px;
    position:absolute;
    left:50%;
    transform: translate(-50%,-50%);
    top:1010px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(234, 15, 15);
    border-radius: 25px;
}

#dummy {
    position: absolute;
    top:1380px;
}